.layout-spacing{
    margin: 50px 0;
}

.list-container{
    padding:30px 15px;
}

.mb20{
    margin-bottom:20px;
    margin-top: 30px;
}
.card{
    background: #eee;
    padding: 0;
    margin-bottom: 30px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.5);
    transition: all .3s ease-in-out;
}

.card > div{
    display: inline-block;
}
.card:hover{
    box-shadow: 0px 1px 10px 3px rgba(0,0,0,.5);
}
.card:hover img{
    filter:brightness(120%);
}

.clickable{
    cursor: pointer;
}

.view-btn{
    text-decoration: none;
    background: rgba(40,34,34,0.9);
    padding: 10px;
    border-radius: 4px;
    color: #00ffac;
}