<footer>
  <div class="row">
    <div class="col-sm-6 text-center">
      <div class="card mr20">
        <img src="../../../assets/images/christopher.JPG" alt="">
      </div>
      <div class="card"> 
        <h3><b>Christopher B Fernandes</b></h3>
        <p>Software Engineer</p>
        <p>Tarento Technologies PVT LTD</p>
      </div>
      
    </div>

    <div class="col-sm-6 text-center info">
        <div >
          <p><small> App makes use of crick apis from other sources</small></p>
          <p><small> Frontend built on HTML,CSS,Bootstrap,Angular </small></p>
          <p><small>Backend built on Express and Nodejs</small><p>
        </div>
    </div>
  </div>
</footer>
