.layout-spacing{
    margin: 80px 0;
}
.match-card{
    background: #eee;
    padding: 15px;
    margin-bottom: 30px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.5);
    transition: all .3s ease-in-out;
}

.match-card:hover{
    box-shadow: 0px 1px 10px 3px rgba(0,0,0,.5);
}